.text-center{ 
    text-align: center;
}

.predict-ui {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}
.form-predict {
    margin: 0 auto;
}

.input-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 8px 0;
}