body {
  background-color: #1e1e1e;
  color: whitesmoke;
}

input[type='number'],
select,
button {
  background-color: #1e1e1e;
  color: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 4px;
  padding: 8px 12px;
}

button:hover {
  cursor: pointer;
}